* {
	margin: 0;
	padding: 0;
	font-family: central gothic;
}

header {
	background-image: url(image/4.jpg);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
}

ul {
	list-style-type: none;
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li {
	display: inline-block;
}

ul li a {
	text-decoration: none;
	color: #ffff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}

ul li a:hover {
	background-color: #fff;
	color: #000;
}

.logo img {
	float: left;
	width: 100px;
	height: 13vh;
}

.banner {
	max-width: 1200px;
	margin: auto;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:white;
	opacity:.4;
}
.title h4{
	color: black;
	font-size: 30px;
}

.title h1 {
	color: black;
	font-size: 70px;
}

.block-title {
	font-size: 50px;
	text-align: center;
}

h3 {
	font-size: 30px;
	text-align: center;
}

p {
	font-size: 20px;
	text-align: center;
}

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}
/*  contact us*/
ut[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical
}

input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
    width : 50%;
	padding: 12px 24px 24px 24px;
    margin: 48px 12px;
}